@media screen and (max-width:395px){
    body{
        background-color:rgb(210, 215, 221);
        margin: 0;
        max-width:100vw;
        height: 100vh;
        font-family: "B612 Mono";
        overflow-y: auto;
    }
    
    aside{
        display: inline-flex;
        justify-content: space-around;
        width:100vw;
        height:20px;
        margin: 5px;
        font-size: 18px;
    }
    aside a{
        color: black;
        display: block;
        margin: 5px 0px;
        text-decoration: none;
        padding: 0px 10px;
        cursor: pointer;
    }
    @keyframes all_sec_show{
        0%{opacity: 0.0;}
        100%{opacity: 1.0;}
    }

    main{
        width:100vw;
        margin: 0;
    }
    
    #home_sec{
        display: flex;
        flex-direction: column;
        font-family: "Audiowide";
        height: 100vh;
    }
    #home_sec p{
        font-size: 12vw;
        text-align: center;
        margin: 0;
        border: 0;
        padding: 0;
    }
    
    #projects_sec{
        display: none;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    #projects_sec div{
        width: 75vw;
        height: 60vh;
        margin: 0;
    }
    
    #projects_sec div a:first-child{
        display: block;
        height: 50vh;
        background-image: url("16.jpg");
        background-size: cover;
        border-radius: 10px;
    }
    #projects_sec div a:last-child{
        display: block;
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-size: 25px;
        border-radius: 10px;
        text-decoration: none;
        color: whitesmoke;
        margin-top:5px;
        padding-top: 4px;
        background-color: black;
    }
    #projects_sec > a {
        display: none;
    }
    
    #resume_sec{
        display: none;
       flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    table{
        width:100vw;
        font-size: 2vh;
    }

    #resume_sec a{
        display: block;
        width:300px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        font-size: 20px;
        margin-top:2px;
        border-radius: 8px;
        text-decoration: none;
        color: whitesmoke;
        background-color: black;
    }
    #contact_sec{
        display: none;
        flex-direction: column;
    }
    #contact_sec p{
        text-align: center;
        width:100vw;
        font-size:16px;
        margin-top: 2vh;
        padding: 2px;
    }
    
    #contact_sec img{
        display: block;
        margin: auto;
        width: 240px;
        height: 350px;
        border-radius: 10px;
        box-shadow: 5px 5px 4px 4px grey;
    }
}

@media screen and (min-width:400px){
    body{
        background-color:rgb(210, 215, 221);
        margin: 0;
        max-width:100vw;
        height: 100vh;
        font-family: "B612 Mono";
        overflow-y: auto;
    }
    
    aside{
        display: inline-flex;
        justify-content: space-around;
        width:100vw;
        height:40px;
        margin: 5px;
        font-size: 4vw;
    }
    aside a{
        color: black;
        display: block;
        margin: 5px 0px;
        text-decoration: none;
        padding: 0px 10px;
        cursor: pointer;
    }
    @keyframes all_sec_show{
        0%{opacity: 0.0;}
        100%{opacity: 1.0;}
    }

    main{
        width:100vw;
        margin: 0;
    }
    
    #home_sec{
        display: flex;
        flex-direction: column;
        font-family: "Audiowide";
        height: 100vh;
    }
    #home_sec p{
        font-size: 12vw;
        text-align: center;
        margin: 0;
        border: 0;
        padding: 0;
    }
    
    #projects_sec{
        display: none;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    #projects_sec div{
        width: 75vw;
        height: 60vh;
        margin: 0;
    }
    
    #projects_sec div a:first-child{
        display: block;
        height: 50vh;
        background-image: url("16.jpg");
        background-size: cover;
        border-radius: 10px;
    }
    #projects_sec div a:last-child{
        display: block;
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-size: 25px;
        border-radius: 10px;
        text-decoration: none;
        color: whitesmoke;
        margin-top:5px;
        padding-top: 4px;
        background-color: black;
    }
    #projects_sec > a {
        display: none;
    }
    
    #resume_sec{
        display: none;
       flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    table{
        width:100vw;
        font-size: 2vh;
    }
    #resume_sec a{
        display: block;
        width:300px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        font-size: 20px;
        margin-top:2px;
        border-radius: 8px;
        text-decoration: none;
        color: whitesmoke;
        background-color: black;
    }
    #contact_sec{
        display: none;
        flex-direction: column;
    }
    #contact_sec p{
        text-align: center;
        width:100vw;
        font-size:18px;
        margin: 0;
        padding: 2px;
    }
    
    #contact_sec img{
        display: block;
        margin: auto;
        width: 240px;
        height: 350px;
        border-radius: 10px;
        box-shadow: 5px 5px 4px 4px grey;
    }
}

@media screen and (min-width:800px){
    body{
        background-color:rgb(210, 215, 221);
        margin: 0;
        max-width:100vw;
        height: 100vh;
        font-family: "B612 Mono";
        overflow-y: auto;
    }
    
    aside{
        display: inline-flex;
        justify-content: space-around;
        width:100vw;
        height:40px;
        margin: 5px;
        font-size: 2.8vw;
    }
    aside a{
        color: black;
        display: block;
        margin: 5px 0px;
        text-decoration: none;
        padding: 0px 10px;
        cursor: pointer;
    }
    @keyframes all_sec_show{
        0%{opacity: 0.0;}
        100%{opacity: 1.0;}
    }

    main{
        width:100vw;
        margin: 0;
    }
    
    #home_sec{
        display: flex;
        flex-direction: column;
        font-family: "Audiowide";
        height: 100vh;
    }
    #home_sec p{
        font-size: 10vw;
        text-align: center;
        margin: 0;
        border: 0;
        padding: 0;
    }
    
    #projects_sec{
        display: none;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    #projects_sec div{
        width: 75vw;
        height: 50vh;
        margin: 0;
    }
    
    #projects_sec div a:first-child{
        display: block;
        height: 40vh;
        background-image: url("16.jpg");
        background-size: cover;
        border-radius: 10px;
    }
    #projects_sec div a:last-child{
        display: block;
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-size: 25px;
        border-radius: 10px;
        text-decoration: none;
        color: whitesmoke;
        margin-top:5px;
        padding-top: 4px;
        background-color: black;
    }
    #projects_sec > a {
        display: none;
    }
    
    #resume_sec{
        display: none;
       flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    table{
        width:700px;
        font-size: 3vh;
    }
    #resume_sec a{
        display: block;
        width:400px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-size: 25px;
        margin-top:2px;
        border-radius: 10px;
        text-decoration: none;
        color: whitesmoke;
        background-color: black;
    }
    #contact_sec{
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
    }
    #contact_sec p{
        text-align: center;
        width:350px;
        font-size:20px;
        margin: 0;
        padding: 0;
    }
    
    #contact_sec img{
        width: 240px;
        height: 350px;
        border-radius: 10px;
        box-shadow: 5px 5px 4px 4px grey;
    }
}

@media screen and (min-width:1200px){
    body{
        background-color:rgb(210, 215, 221);
        margin: 0;
        max-width:100vw;
        height: 100vh;
        font-family: "B612 Mono";
        overflow-y: auto;
    }
    
    aside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:21vw;
        height:80vh;
        margin: 5px;
        position: fixed;
        top: 10vh;
        font-size: 4vw;
    }
    aside a:not(#home_b){
        color: black;
        display: block;
        margin: 5px 0px;
        text-decoration: none;
        padding-left: 10px;
        animation-name: aside_anime;
        animation-duration: 5s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        cursor: pointer;
    }
    aside a:hover:not(#home_b), aside a:active:not(#home_b){
        animation-play-state: paused;
    }
    @keyframes aside_anime{
        0%{transform: translateX(0);}
        50%{transform: translateX(80%);}
        100%{transform: translateX(0);}
    }
    #home_b{
        box-sizing: border-box;
        color: black;
        font-size: 2.7vw;
        display: block;
        margin: 5px 0px;
        text-decoration: none;
        padding-left: 10px;
        cursor: pointer;
    }
    @keyframes home_b_anime{
        0%{background-color: none;color: black;}
        100%{background-color: black;color: whitesmoke;}
    }
    #home_b:hover{
        animation-name: home_b_anime;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    
    main{
        width:75vw;
        margin: 5px;
        position: absolute;
        right: 5px;
    }
    
    #home_sec{
        display: flex;
        margin: 0;
        flex-direction: column;
        font-family: "Audiowide";
        height: 100vh;
    }
    #home_sec p:first-child{
        font-size: 3vw;text-align: center;margin: 0;border: 0;padding: 0;width: 22vw;
    }
    #home_sec p:nth-child(2){
        font-size: 10vw;text-align: center;margin: 0;border: 0;padding: 0;
    }
    #home_sec p:last-child{
        font-size: 3vw;text-align: center;margin: 0;border: 0;padding: 0;width: 22vw;
    }
    #home_sec p:hover{
        animation-name: home_sec_anime;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    @keyframes all_sec_show{
        0%{opacity: 0.0;}
        100%{opacity: 1.0;}
    }
    @keyframes home_sec_anime{
        0%{background-color: none;color: black;}
        100%{background-color: black;color: whitesmoke;}
    }
    
    #projects_sec{
        display: none;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    #projects_sec div{
        width: 800px;
        height: 400px;
        margin: 0;
    }
    
    #projects_sec div a:first-child{
        display: block;
        height: 360px;
        background-image: url("16.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 10px;
    }
    #projects_sec div a:last-child{
        display: block;
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-size: 25px;
        border-radius: 10px;
        text-decoration: none;
        color: whitesmoke;
        margin-top:5px;
        padding-top: 4px;
        background-color: black;
    }
    #projects_sec > a {
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 50px;
        text-align: center;
        margin: 5px;
        color: black;
    }
    
    #resume_sec{
        display: none;
       flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    table{
        width:800px;
        font-size: 2.5vh;
    }
    #resume_sec a{
        display: block;
        width:400px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-size: 25px;
        margin-top:2px;
        border-radius: 10px;
        text-decoration: none;
        color: whitesmoke;
        background-color: black;
    }
    #contact_sec{
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    #contact_sec p{
        text-align: left;
        width:450px;
        font-size:25px;
    }
    
    #contact_sec img{
        width: 340px;
        height: 490px;
        border-radius: 15px;
        box-shadow: 5px 5px 4px 4px grey;
    }
}

@media screen and (min-width:1600px){
    body{
        background-color:rgb(210, 215, 221);
        margin: 0;
        max-width:100vw;
        height: 100vh;
        font-family: "B612 Mono";
        overflow-y: auto;
    }
    
    aside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:240px;
        height:80vh;
        margin: 5px;
        position: fixed;
        top: 10vh;
        font-size: 45px;
    }
    aside a:not(#home_b){
        color: black;
        display: block;
        margin: 5px 0px;
        text-decoration: none;
        padding-left: 10px;
        animation-name: aside_anime;
        animation-duration: 5s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        cursor: pointer;
    }
    aside a:hover:not(#home_b), aside a:active:not(#home_b){
        animation-play-state: paused;
    }
    @keyframes aside_anime{
        0%{transform: translateX(0);}
        50%{transform: translateX(80%);}
        100%{transform: translateX(0);}
    }
    #home_b{
        box-sizing: border-box;
        color: black;
        font-size: 30px;
        display: block;
        margin: 5px 0px;
        text-decoration: none;
        padding-left: 10px;
        cursor: pointer;
    }
    @keyframes home_b_anime{
        0%{background-color: none;color: black;}
        100%{background-color: black;color: whitesmoke;}
    }
    #home_b:hover{
        animation-name: home_b_anime;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    
    main{
        width:1300px;
        margin: 5px;
        position: absolute;
        right: 5px;
    }
    
    #home_sec{
        display: flex;
        margin: 0;
        flex-direction: column;
        font-family: "Audiowide";
        height: 100vh;
    }
    #home_sec p:first-child{
        font-size: 30px;text-align: center;margin: 0;border: 0;padding: 0;width: 240px;
    }
    #home_sec p:nth-child(2){
        font-size: 160px;text-align: center;margin: 0;border: 0;padding: 0;
    }
    #home_sec p:last-child{
        font-size: 30px;text-align: center;margin: 0;border: 0;padding: 0;width: 240px;
    }
    #home_sec p:hover{
        animation-name: home_sec_anime;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    @keyframes all_sec_show{
        0%{opacity: 0.0;}
        100%{opacity: 1.0;}
    }
    @keyframes home_sec_anime{
        0%{background-color: none;color: black;}
        100%{background-color: black;color: whitesmoke;}
    }
    
    #projects_sec{
        display: none;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    #projects_sec div{
        width: 1000px;
        height: 550px;
        margin: 0;
    }
    
    #projects_sec div a:first-child{
        display: block;
        height: 500px;
        background-image: url("16.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 12px;
    }
    #projects_sec div a:last-child{
        display: block;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 40px;
        border-radius: 12px;
        text-decoration: none;
        color: whitesmoke;
        margin-top:5px;
        padding-top: 4px;
        background-color: black;
    }
    #projects_sec > a {
        width: 85px;
        height: 70px;
        line-height: 70px;
        font-size: 65px;
        text-align: center;
        color: black;
    }
    
    #resume_sec{
        display: none;
       flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    table{
        width:1200px;
        font-size: 25px;
    }
    #resume_sec a{
        display: block;
        width:600px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 35px;
        margin-top:2px;
        border-radius: 10px;
        text-decoration: none;
        color: whitesmoke;
        background-color: black;
    }
    #contact_sec{
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    #contact_sec p{
        width:650px;
        font-size:32px;
        text-align: left;
    }
    
    #contact_sec img{
        width: 370px;
        height: 520px;
        border-radius: 15px;
        box-shadow: 5px 5px 4px 4px grey;
    }
}